services:
  mysql:
    image: mysql:8.0
    container_name: mysql_container
    restart: always
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: bookstore
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    networks:
      - db_network
    ports:
      - "3306:3306"
    volumes:
      - ./init_db:/docker-entrypoint-initdb.d
      - mysql_data:/var/lib/mysql

  epicbook:
    build: ./
    image: epicbook:latest
    container_name: epicbook_container
    restart: always
    depends_on:
      mysql:
        condition: service_healthy
    networks:
      - db_network
      - app_network
    env_file:
      - .env
    healthcheck:
      test: ["CMD", "wget", "--spider", "http://localhost:8080/"]
      interval: 10s
      timeout: 5s
      retries: 5
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.epicbook.entrypoints=web"
      - "traefik.http.routers.epicbook.rule=HostRegexp(`{host:.+}`)"
      - "traefik.http.routers.epicbook.service=epicbook"
      - "traefik.http.services.epicbook.loadbalancer.server.port=8080" # Your NodeJS app's internal port
  traefik:
    image: traefik:v3.6
    container_name: traefik_container
    restart: always
    depends_on:
      epicbook:
        condition: service_healthy
    command:
      - "--api.insecure=true"
      - "--providers.docker=true"
      - "--entrypoints.web.address=:80"
    ports:
      - "80:80"
      - "8080:8080"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    networks:
      - app_network

volumes:
  mysql_data:

networks:
  db_network:
  app_network:
